<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">agrovision</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/agrovision</property>
  <property name="hibernate.connection.username">agrovision</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.format_sql">true</property>
  <!--   <property name="hibernate.hbm2ddl.auto">create</property> -->
  <mapping class="com.agrovision.dominio.Plaga"/>
  <mapping class="com.agrovision.dominio.Producto"/>
  <mapping class="com.agrovision.dominio.Tratamiento"/>
  <mapping class="com.agrovision.dominio.TratamientoPlaga"/>
  <mapping class="com.agrovision.dominio.RegistroImagenes"/>
  <mapping class="com.agrovision.dominio.Acceso"/>
  
 </session-factory>
</hibernate-configuration>